@using SpiceApp.Models.Entities

@{
    ViewBag.Title = "Araç listesi";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading div {
        margin-top: -18px;
        font-size: 15px;
    }

        .panel-heading div span {
            margin-left: 5px;
        }

    .panel-body {
        display: none;
    }
</style>
<script>
    (function () {
        'use strict';
        var $ = jQuery;
        $.fn.extend({
            filterTable: function () {
                return this.each(function () {
                    $(this).on('keyup', function (e) {
                        $('.filterTable_no_results').remove();
                        var $this = $(this),
                            search = $this.val().toLowerCase(),
                            target = $this.attr('data-filters'),
                            $target = $(target),
                            $rows = $target.find('tbody tr');

                        if (search == '') {
                            $rows.show();
                        } else {
                            $rows.each(function () {
                                var $this = $(this);
                                $this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
                            })
                            if ($target.find('tbody tr:visible').size() === 0) {
                                var col_count = $target.find('tr').first().find('td').size();
                                var no_results = $('<tr class="filterTable_no_results"><td colspan="' + col_count + '">No results found</td></tr>')
                                $target.find('tbody').append(no_results);
                            }
                        }
                    });
                });
            }
        });
        $('[data-action="filter"]').filterTable();
    })(jQuery);

    $(function () {
        // attach table filter plugin to inputs
        $('[data-action="filter"]').filterTable();

        $('.container').on('click', '.panel-heading span.filter', function (e) {
            var $this = $(this),
                $panel = $this.parents('.panel');

            $panel.find('.panel-body').slideToggle();
            if ($this.css('display') != 'none') {
                $panel.find('.panel-body input').focus();
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>

        $(function () {
            $(".aracdetay").click(function () {
                var uid = $(this).attr("name");
                $.ajax({
                    type: 'GET',
                    url: 'Detayla',
                    data: { id: uid },
                    success: function () {
                        alert("İşlem Başarılı");
                    },
                    error: function () {
                        alert("İşlem Gerçekleştirilemedi");
                    }

                });
            });
            $(".arac").click(function () {
                var uid = $(this).attr("name");
                $.ajax({
                    type: 'GET',
                    url: 'Rezervle',
                    data: { id: uid },
                    success: function () {
                        alert("İşlem Başarılı");
                        $("#" + uid).hide();
                    },
                    error: function () {
                        alert("Rezervasyon İşlemi Gerçekleştirilemedi");
                    }
                });
            });
        });

    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Uygun Araçlar</h3>
                        <div class="pull-right">
                            <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                <i class="glyphicon glyphicon-filter"></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
                    </div>
                    <table class="table table-hover" id="task-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Detay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Session["araclar"] != null)
                            {

                                int i = 1;
                                foreach (Car item in (List<Car>)Session["araclar"])
                                {
                                    if (Session["Proid"].ToString() != "1" || item.Company.CompanyID.ToString() == Session["comid"].ToString())
                                    {
                                        <tr id="@item.CarID.ToString()">
                                            <td>@i.ToString()</td>
                                            <td>@item.Brand.BrandName.ToString()</td>
                                            <td>@item.CarModel.ToString()</td>
                                            <td><a type="button" name="@item.CarID.ToString()" class="btn btn-info aracdetay" href="@Url.Action("Detayver", "User")">Detay</a></td>

                                            @*<td><button type="button" name="@item.CarID.ToString()" class="btn btn-info aracdetay">Detay</button></td>*@
                                            <td><button type="button" name="@item.CarID.ToString()" class="btn btn-primary arac">Rezervle</button></td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>



